body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
}

button {
  padding: 10px 15px;
  background-color: #2a7ae2;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  margin-top: 10px;
  padding: 5px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: crimson;
  padding: 5px;
}

.active-filter {
  background-color: #007bff;
  color: white;
}


.light-theme {
  background-color: #f2f2f2;
  color: #000;
}

.light-theme input,
.light-theme button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.light-theme li {
  background: #eee;
  border: none;
}

.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-theme input,
.dark-theme button {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #444;
}

.dark-theme li {
  background: #1a1a1a;
  border: 1px solid #444;
}